{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="virement" method="POST">
            <h2 class="welcome">Card {{ session['card_number'] }} in the machine</h2>
            <label class="title">
                The acount "{{ acount_info["numero"] }}" have {{ acount_info["solde"] }}$
            </label>
            <div class="login-group">
                <ol class="list">
                    {% for acount_oporation in acount_info["operations"] %}
                        <li>{{ acount_oporation }}</li>
                    {% endfor %}
                </ol>
                <button type="submit" name="menu"
                        value="{{ request.form.menu }}" class="btn btn-primary">Menu
                </button>
            </div>
        </form>
    </div>
{% endblock %}