{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="virement" method="POST">
            <h2 class="welcome">Card {{ session['card_number'] }} in the machine</h2>
            <label class="title">
                Do you confirm the transfer of {{ result["amount"] }}$ to {{ result["account_number"] }} account
            </label>
            <div class="login-group">
                <button type="submit" class="btn btn-primary" name="validation">CONFIRM</button>
                <button type="submit" class="btn btn-danger" name="cancel">CANCEL</button>
            </div>
        </form>
    </div>
{% endblock %}