{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="loginform" method="POST">
            <label class="title">
                <h3 class="welcome">DAB V1</h3>
                HSBC Bank
            </label>
            <div class="login-group">
                <input class="username" type="text" name="card_number" placeholder="Card number"
                       value="{{ request.form.card_number }}">
                {% if session['wrong_pass']==True %}
                    <div class="error active">
                        Invalid user name or password
                    </div>
                {% else %}
                    <div>
                        Enter Username and Password
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">NEXT</button>
            </div>
        </form>
    </div>
{% endblock %}