{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="virement" method="POST">
            <h2 class="welcome">Card {{ session['card_number'] }} in the machine</h2>
            <label class="title">
                Select you operation
            </label>
            <div class="login-group">
                <button type="submit" name="money_transfer"
                        value="{{ request.form.money_transfer }}" class="btn btn-primary">Money Transfer
                </button>
                <br>
                <button type="submit" name="acount_consultation"
                        value="{{ request.form.acount_consultation }}" class="btn btn-primary">Acount consultation
                </button>
                {% if message %}
                    <div>
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}