{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="loginform" method="POST">
            <h2 class="welcome">Card {{ session['card_number'] }} in the machine</h2>
            <label class="title">
                <h3 class="welcome">DAB V1</h3>
                HSBC Bank
            </label>
            <div class="login-group">
                <input class="password" type="password" name="password" placeholder="Password"
                       value="{{ request.form.password }}">
                <button type="submit" class="btn btn-primary">NEXT</button>
            </div>
        </form>
    </div>
{% endblock %}