{% extends "header.html" %} {% block body %}
    <div class="login-wrapper">
        <form class="login" id="virement" method="POST">
            <h2 class="welcome">Card {{ session['card_number'] }} in the machine</h2>
            <label class="title">
                Enter the account number to be credited
            </label>
            <div class="login-group">
                <input class="username" type="text" name="account_number" placeholder="Account number to credit"
                       value="{{ request.form.account_number }}">
                <input class="username" type="number" name="amount" placeholder="Amount to credit"
                       value="{{ request.form.amount }}">
                <button type="submit" class="btn btn-primary">SEND</button>
            </div>
        </form>
    </div>
{% endblock %}